In [2]:
import pandas as pd

df = pd.read_excel(r"C:\Users\LENOVO\OneDrive\Documents\pemodelan dan simulasi\modsim-2026-p2-ifs25026-latihan\data_kuesioner.xlsx")
df.head()

,Partisipan,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17
0,1,S,S,S,S,S,S,S,S,S,S,S,S,S,S,S,S,S
1,2,S,S,S,S,S,S,S,S,CS,S,S,S,S,S,S,S,S
2,3,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS
3,4,S,S,S,S,S,S,S,S,S,S,S,S,S,S,S,S,S
4,5,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS,CS

In [3]:
import pandas as pd

df = pd.read_excel(r"C:\Users\LENOVO\OneDrive\Documents\pemodelan dan simulasi\modsim-2026-p2-ifs25026-latihan\data_kuesioner.xlsx")

# ambil kolom Q1 sampai Q17
kolom_q = [f"Q{i}" for i in range(1, 18)]

# hitung jumlah TS di tiap pertanyaan
jumlah_ts = (df[kolom_q] == "TS").sum()

# hitung persen TS
persen_ts = (df[kolom_q] == "TS").mean() * 100

# gabungkan hasil
hasil = pd.DataFrame({
    "Jumlah TS": jumlah_ts,
    "Persen TS (%)": persen_ts
})

# cari pertanyaan dengan TS terbanyak
terbanyak = hasil.loc[hasil["Jumlah TS"].idxmax()]

print("Pertanyaan dengan TS terbanyak:")
print(terbanyak)

print("\nDetail semua pertanyaan:")
print(hasil.sort_values(by="Jumlah TS", ascending=False))

Pertanyaan dengan TS terbanyak:
Jumlah TS        3.000000
Persen TS (%)    2.654867
Name: Q12, dtype: float64

Detail semua pertanyaan:
     Jumlah TS  Persen TS (%)
Q12          3       2.654867
Q1           2       1.769912
Q2           2       1.769912
Q14          2       1.769912
Q4           1       0.884956
Q8           1       0.884956
Q7           1       0.884956
Q5           1       0.884956
Q6           1       0.884956
Q13          1       0.884956
Q9           1       0.884956
Q11          1       0.884956
Q10          1       0.884956
Q16          1       0.884956
Q15          1       0.884956
Q17          1       0.884956
Q3           0       0.000000